
<section class="home">
	<h1>World Cloud</h1>
	<div class="container">
		<div class="row">
			<p>What is the text you want to track?</p>
		</div>
		<div class="row">
			<textarea name="inputText" class="input-text" v-model="inputText" v-on:keyup="setInputText"></textarea>
		</div>
		<div class="row">
			<button class="btn btn-danger" @click="resetInputText">Erase</button>
		</div>
		<br/>
		<div class="row">
			<button class="btn btn-default"><router-link :to="'generic'">General Counter</router-link></button>
			<button class="btn btn-default"><router-link :to="'specific'">Specific Counter</router-link></button>
		</div>
	</div>
</section>

